<footer class="footer-distributed" id="contactoFooter">
  <div class="footer-left">
    <h4 class="tituloFooter">Tienda <span>Oficial Deportiva</span> </h4>

    <!--<p class="footer-links">
      <a href="#">Home</a>
      |
      <a href="#">Sobre Nosotros</a>
      |
      <a href="#">Contacto</a>
      |
      <a href="#">Ayuda</a>
    </p> -->

  </div>

  <div class="footerDiv">
    <div class="footer-left-new">
      <h4>Contactate con nosotros</h4>
      <div class="footer-center">

        <div class="contactFoot">
          <i class="fa fa-phone"></i>
          <p>+54 38547**1*8</p>
        </div>

        <div class="contactFoot">
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
        </div>

        <div class="contactFoot">
          <i class="fa fa-map-marker"></i>
          <p><span>Argentina</span> Santiago del Estero</p>
        </div>

      </div>
    </div>

    <div class="footer-right">
      <p class="footer-company-about">
        <span class="subtitulo">Sobre Tienda Oficial Deportiva</span>
        Somos tu destino definitivo para todas tus necesidades deportivas en línea. En nuestra tienda deportiva en
        línea,
        ofrecemos una amplia gama de productos y servicios para satisfacer todas tus necesidades deportivas, ya seas un
        atleta profesional o un entusiasta del fitness.
      </p>
      <div class="footer-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <p class="footer-company-name">
    Copyright © 2023 <strong>Tienda Oficial Deportiva</strong> All rights reserved
  </p>
</footer>