<header>
  <a href="/" class="contendorDelLogo">
    <img class="logoCompletoSinFondo" src="/img/LogoCompletoSinFondo2.png" alt="logoCompleto">
  </a>
  <div class="search-box">
    <form>
      <input type="text" name="search" id="srch" placeholder="Buscar.." />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <nav class="nav-bar">
    <ul>
      <li><a href="/products">Productos</a></li>
      <li><a href="#contactoFooter">Contacto</a></li>
      <li>
        <a href="/users/login"><i class="fa fa-user"></i></a>
        <!---<a href="/products/cart"><i class="fa fa-shopping-cart"></i></a>--->
      </li>
    </ul>
  </nav>
  <div class="menu">

 <!--
  
  <label for="search-1" class="burguerMenuNew"><i class="fa fa-bars"></i>
      <select>
        <option value="1">Catalogo</option>
        <option value="2">Inicia Sesion</option>
        <option value="3">Contactanos</option>
      </select>
  </label>

  -->


    <div class="menu">
      <div class="hamburger-menu" onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
      </div>
      <div class="options" id="options">
          <a href="/products">Catalogo</a>
          <a href="#contactoFooter">Contacto</a>
          <a href="/users/login"><i class="fa fa-user"></i>Iniciar sesion</a>
      </div>
    </div>
  

  </div>

    <script src="/js/script.js"></script>

</header>