:root {
    --primario: #db0034;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario: #424242;
    --bg-secundario: #101010;
    --Negro: #000000;
    --Blanco: #FFFFFF;
    --GrisOscuro: #333333;
    --Gris: #808080;
    --GrisClaro: #CCCCCC;
    --Rojo: #FF0000;
    --Violeta: #800080;
    --Amarillo: #FFFF00;
}

h2 {
    color: #333;
    padding: 20px;
}


h3{
    text-align: left;
}


.titulo{
    /*display: flex;*/
    position: absolute; /* Se posiciona de manera absoluta con respecto al contenedor */
    top: 150px; /* Ajusta la posición desde la parte superior del contenedor */
    left: 300px; /* Ajusta la posición desde la parte izquierda del contenedor */    
    /*margin-left: 250px;*/
    font-size: 20px;
}

.lema{
    display: flex;
    position: absolute; /* Se posiciona de manera absoluta con respecto al contenedor */
    top: 500px; /* Ajusta la posición desde la parte superior del contenedor */
    left: 200px; /* Ajusta la posición desde la parte izquierda del contenedor */    
}


.logoSinFondo{
    width: 50px;
    height: 50px;
}

main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /*display: flex;*/
     height: 80vh;
}

form a {
text-decoration: none;
color: var(--bg-primario);
}


.login-container {
    display: flex;
    justify-content: center;
    background-color: var(--links);
    padding: 20px;
    margin: auto;
    width: 100%;
}


.login{
    flex: 0 0 50%; /* El contenedor ocupa el 50% del ancho del cuerpo */  
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 340px;
    margin: auto;
}


button {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: var(--bg-primario);
    transition: background-color 0.3s ease; /* Transición suave para un cambio gradual */
}


button:hover {
    background-color: var(--primario); /* Cambia este valor al color deseado al pasar el mouse por encima */
  }


input {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-style: solid;
}

.color-input {
    background-color: var(--links); 
    padding: 8px;
    border: 1px solid var(--bg-primario);
}


.equal-size {
    padding: 8px;
    border: 1px solid #ccc;
    width: 300px; /* Establece el ancho */
}


.contenedor-checkbox label{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
}



.conteiner-imagen{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}


.sombra {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.img__tamaño {
    height: 20%; /* ajusta la altura */
    width: 40%; /* ajusta el ancho */
}


.img__tamaño2 {
    height: 15%; /* ajusta la altura */
    width: 25%; /* ajusta el ancho */
}


form {
    display: flex;
    flex-direction: column;
}


/* Media queries */
@media (max-width: 440px) {
    .titulo{
        display: none;
    }
    
    .login {
        flex: 0 0 100%; /* El contenedor ocupa el 100% del ancho del cuerpo */  ;
        padding: 5px;
    }

}

    @media (max-width: 800px) {
    .tienda{
        display: none;
    }

    
    .login-conteiner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        /* Cambia la dirección del flex container a columna */
        /*justify-content: flex-star;*/
    }
}

