:root {
    --primario:  #db0034 ;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario:  #424242;
    --bg-secundario: #101010;
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  
  
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: normal;
    height: 100vh;
   
}    

main {
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.titulo {
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: var(--bg-secundario);
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.subtitle {
  display: none;
}

.container {
  margin: 10px;
  padding: 30px;
  background-color: #ada9a9;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  font-size: 16px;
  min-width: 300px;
}


.subtitleClass {
  display: none;
}

.productImage img {
  background-color: var(--secundario);

  margin: auto;
}

.containerImage {
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerImage img {
  background-color: white;
  max-width: 320px;
  margin: auto;
}

.productImage {
  width: 100%;
}

.productDescription {
  display: flex;
  flex-direction: column;
  }

.nameProd {
  background-color: var(--secundario);
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-secundario);
  padding: 10px;
}

.productDescription p,
.productDescription h3,
.productDescription span {
margin-top: 10px;
}

.productDescription {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--secundario);
  margin-bottom: 5px;
}

.productDescription span {
  color: green;
}

.quantity {
  display: flex;
  flex-direction: row;
    background-color: var(--secundario);
  height: 40px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.quantity h4 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-right: 5px;

}

.quantity form {
  background-color: var(--secundario);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 15px;
}

.totalPrice {
  border: 1px solid var(--links);
  height: 40px;
  color: var(--bg-secundario);
  background-color: var(--secundario);
  padding: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.priceOfAll {
  color: var(--bg-secundario);
  font-size: 16px;
  background-color: var(--secundario);
}

.calculations {
  display: flex;
  flex-direction: column;
}

.calculations span {
  text-align: left;
}

.boton {
  margin: 10px;
  padding: 10px;
  background-color: #ada9a9;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  height: 40px;
  color: #eeeeee;
  background-color: var(--bg-primario);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton:hover {
  background-color: green;
}


@media (min-width:700px) {
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products article {
  border: var(--links) solid 5px;
  max-height: 320px;
  background-color: white;
  margin: auto;
}

.containerImage {
  width: 100%;
  max-width: 50%;
}

.calculations {
  margin-top: 20%;
}

.infoLateral {
  border: var(--links) solid 5px;
  max-height: 320px;
  background-color: white;
  width: 100%;
  flex-wrap: wrap;
}

.productDescription p,
.productDescription h3,
.productDescription span {
text-align: center;
width: 100%;
margin: auto;
padding: 5px;
font-size: 20px;
border: solid var(--links) 1px;
}

.quantity {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity form {
  background-color: white;
}

.buttonCart {
  display: flex;
  flex-wrap: wrap ;
}

.boton {
  width: 100%;
}

  }