:root {
    --primario: #db0034;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario: #424242;
    --bg-secundario: #101010;
}

/*-------- M A I N --------*/
.titulo {
    font-size: 20px;
    text-align: left;
    color: white;
    background-color: var(--bg-secundario);
    padding: 10px 50px;
}

boton {
    background-color: rgb(255, 204, 34);
    width: 100px;
    color: #eeeeee;
    align-items: right;
    justify-content: center;
    border-radius: 5%;
}

.boton {
    margin-top: 10%;
    padding: 20px;
    background-color: var(--bg-secundario);
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--bg-primario) 5px solid;
  }

  .boton a {
    color: var(--links);
    font-size: 16px;
    padding: 10px;
  }
  
  .boton:hover {
    background-color: var(--primario);
  }
  

.enlaces {
    text-decoration: none;
    color: #101010;
}


.main {
    display: flex;
    width: 80%;
    margin: 5px auto;
    border: 15px;
    background-color: black;

}

.subtitulo {
    color: var(--secundario);
    width: 100%;
    text-align: center;
}

.conteinerProfile {
    display: flex;
    padding: 15px;
    background-color: var(--links);
}

.imageProfile {
    background-color: var(--secundario);
    width: 50%;
    border-radius: 5%;
    border-color: solid 5px #eeeeee;
    padding: 20px;
    margin: auto;
}


.datosProfile {
    background-color: var(--bg-primario);
    width: 50%;
    height: auto;
    padding: 10px 30px;
    border-radius: 5%;
    border-color: #eeeeee;
}

.titulo {
    color: #eeeeee;
    font-size: 20px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.datosEstandar {
    color: #eeeeee;
    font-size: 20px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.mostrarDatos {
    background-color: #ada9a9;
    margin-bottom: 20px;
    border-radius: 5%;
    border: solid 1px #424242;
    padding: 10px;
}

.contPerfil {
    margin: 5px auto;
    padding: 10 px;
    height: auto;
    width: 95%;
    display: block;
    align-items: center;
    justify-content: space-between;
}



/*-------- M E D I A   Q U E R I E S ---------*/

@media (max-width: 768px) {
    .contenedorGris {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:769px) {
    .contenedorGris {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botones {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/*--PRODUCT DETAIL--*/
.des {
    font-size: 15px;
    height: 25px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 98%;
}

.conteinerInfo p {
    margin-bottom: 10px;
}
.conteinerBoton {
    padding: 10px;
}

.botonED {
    background-color:#fdec00;
    width: 120px;
    margin:auto;
    color:#101010;
    align-items: center;
    justify-content: center;
    border-top: 20px;
    padding: 10px;
}

.botonEL {
    background-color:#db0034;
    width: 120px;
    margin:auto;
    color: #eeeeee;
    align-items: center;
    justify-content: center;
    border-top: 20px;
    padding: 10px;
}

.enlaces {
    text-decoration: none;
}


.main {
    display: flex;
    width: 98%;
    margin: 5px auto;
    border: 15px;
    background-color: black;
    height: max-content 450px;
}

.subtitulo {
    color: var(--secundario);
    width: 100%;
    text-align: center;
}



.conteinerMain {
    background-color:#ffffff;
    margin: 5px auto;
    padding: 30px 10px;
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.conteinerInfo article {
    border: #006909 1px solid;
    width: 100%;
}

productImage {
    padding: 20px;
    height: auto;
    width: 100%;
    margin: auto;
    background-color: #eeeeee;
    border: solid 5px #eeeeee;
    border-radius: 8px;
    display: Block;
    border: #fdec00 1px solid;
}

.conteinerImage img {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #db0034 solid 1px;
}

.conteinerInfo{
    background-color:#ffffff; 
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    border-radius: 5%;
    width: 60%;
    background-color: #db0034;
}

.product-detail-info {
    padding: 10px;
    margin-bottom: 10px;
}
.product-detail-title {
    padding: 10px;
    margin-bottom: 10px;
}
.product-detail-info {
    padding: 10px;
    margin-bottom: 10px;
}
.product-detail-description {
    padding: 10px;
    margin-bottom: 10px;
}
.product-detail-price small {
    color:#006909;
    padding: 10px;
    margin-bottom: 10px;
}

.product-detail-price {
    padding: 10px;
    margin-bottom: 10px;
}

ul li {
    display: block;
    text-decoration: none;
}

.botones {
    display: flex;
    flex-wrap: wrap;
}

.fa-credit-card {
    color: green;
}

.fa-store {
    color: green; 
}

.adm {
    margin-left: 30px;
}